*.class
*.log

.bloop
**/events.json

node_modules
/build
*.log*
.DS_Store
*.code-workspace

dist/*
**/target
lib_managed/
src_managed/
project/project
project/boot/
project/target
project/plugins/project/
.history
.cache
.lib/
.idea
*.iml
out
gen

.metals
.vscode
