<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="BroadcastAppendImpl" level="WARN"/>-->
<!--    <logger name="AppendRPCResponder" level="WARN"/>-->
<!--    <logger name="VoteRPCInitiator" level="WARN"/>-->
<!--    <logger name="VoteRPCResponder" level="WARN"/>-->
<!--    <logger name="RaftPollerImpl" level="WARN"/>-->
<!--    <logger name="ClientIncomingImpl" level="ERROR"/>-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
